@import "vars";
@import "mixins";
@import "fonts";

body {
	font-family:'Graphik';
}
.section-padding {
	padding: 0 10px;
}
.nav {
	display: block;
}
@include media(sm){
	.section-padding {
		padding: 0 50px;
	}
}